<h2>Army Contents</h2>
<table class="army-contents">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Quantity</th>
    <th scope="col">SKU</th>
    <th scope="col">Supplier</th>
  </tr>
</thead>
<tbody>
{{- with .Params.models -}}
  {{- range . }}
  <tr>
    <td>
      {{ .name }}
    </td>
    <td>
      {{ .qty }}
    </td>
    <td>
      {{ .sku }}
    </td>
    <td>
      {{- $supplier_slug := urlize .supplier -}}
      <a href='{{ absLangURL (printf "supplier/%s/" $supplier_slug) }}' title="{{ .supplier }}">
        {{ .supplier }}
      </a>
    </td>
  </tr>
  {{- end }}
{{- end }}
</tbody>
</table>
