<h2>Introduction</h2>
<table class="project-meta">
<tbody>
  <tr>
    <th scope="row">Started</th>
    <td>
      {{- with .Params.started -}}
      <span class="post_date">
        {{ . | time.Format ":date_long" }}
      </span>      
      {{- end }}
    </td>
  </tr>
  <tr>
    <th scope="row">Completed</th>
    <td>
      {{- with .Params.completed -}}
      <span class="post_date">
        {{ . | time.Format ":date_long" }}
      </span>
      {{- end }}
    </td>
  </tr>
  <tr>
    <th scope="row">Scale</th>
    <td>
      {{- with .Params.scale -}}
        <span>{{- . }}</span>
      {{- end }}
    </td>
  </tr>
  <tr>
    <th scope="row">Suppliers</th>
    <td>
      {{- with .Params.suppliers -}}
        {{- range . }}
          {{- $supplier := urlize . -}}
          <a href='{{ absLangURL (printf "supplier/%s/" $supplier) }}' title="{{ . }}">
            {{- . }}
          </a>
        {{- end }}
      {{- end }}
    </td>
  </tr>
  <tr>
    <th>Rulesets</th>
    <td>
      {{- with .Params.rulesets -}}
        {{- range . }}
          {{- $ruleset := urlize . -}}
          <a href='{{ absLangURL (printf "ruleset/%s/" $ruleset) }}' title="{{ . }}">
            {{- . }}
          </a>
        {{- end }}
      {{- end }}
    </td>
  </tr>
</tbody>
</table>
