<h2>Introduction</h2>
<table class="ruleset-meta">
<tbody>
  <tr>
    <th scope="row">Scales</th>
    <td>
      {{- with .Params.scales -}}
        {{- range . }}
        <span>{{- . }}</span>
        {{- end }}
      {{- end }}
    </td>
  </tr>
  <tr>
    <th scope="row">Author</th>
    <td>
      {{ if .Params.authors }}
        {{- with .Params.authors -}}
          {{- range . }}
            <span>{{- . }}</span>
          {{- end }}
        {{- end }}
    {{ end }}
    </td>
  </tr>
  <tr>
    <th scope="row">Supplier</th>
    <td>
      {{- with .Params.supplier -}}
        {{- $supplier := urlize . -}}
        <a href='{{ absLangURL (printf "supplier/%s/" $supplier) }}' title="{{ . }}">
          {{- . }}
        </a>
      {{- end }}
    </td>
  </tr>
</tbody>
</table>
