---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="footer-inner">
    <span>&copy; {year} Jack Hughes</span>
    <ul class="footer-links">
      <li><a href="https://www.facebook.com" rel="noopener noreferrer" target="_blank">Facebook</a></li>
      <li><a href="/rss.xml">RSS</a></li>
    </ul>
  </div>
</footer>
