---
import { slugifyStr } from "@/utils/slugify";

interface Props {
  scales?: string[];
  authors?: string[];
  supplier?: string;
}

const { scales = [], authors = [], supplier } = Astro.props;
---

<div class="my-4 rounded border border-border p-4 text-sm">
  <h2 class="mb-2 font-semibold">Details</h2>
  <table class="w-full border-collapse">
    <tbody>
      {scales.length > 0 && (
        <tr class="border-b border-border">
          <th scope="row" class="py-1 pr-4 text-left font-medium text-foreground/70">Scales</th>
          <td class="py-1">{scales.join(', ')}</td>
        </tr>
      )}
      {authors.length > 0 && (
        <tr class="border-b border-border">
          <th scope="row" class="py-1 pr-4 text-left font-medium text-foreground/70">Authors</th>
          <td class="py-1">{authors.join(', ')}</td>
        </tr>
      )}
      {supplier && (
        <tr class="border-b border-border">
          <th scope="row" class="py-1 pr-4 text-left font-medium text-foreground/70">Supplier</th>
          <td class="py-1">
            <a href={`/supplier/${slugifyStr(supplier)}/`} class="text-accent hover:underline">{supplier}</a>
          </td>
        </tr>
      )}
    </tbody>
  </table>
</div>
