---
import { slugify } from '../utils/slugify';

interface Props {
  scales?: string[];
  authors?: string[];
  supplier?: string;
}

const { scales = [], authors = [], supplier } = Astro.props;
---

<div class="ruleset-meta">
  <h2>Introduction</h2>
  <table>
    <tbody>
      <tr>
        <th scope="row">Scales</th>
        <td>{scales.map(s => <span>{s} </span>)}</td>
      </tr>
      <tr>
        <th scope="row">Author</th>
        <td>{authors.map(a => <span>{a} </span>)}</td>
      </tr>
      <tr>
        <th scope="row">Supplier</th>
        <td>
          {supplier
            ? <a href={`/supplier/${slugify(supplier)}/`}>{supplier}</a>
            : ''}
        </td>
      </tr>
    </tbody>
  </table>
</div>
